<section id="career" class="resume maincolor">
    <div class="row title">
        <h1>CAREER</h1>
    </div>
    <div class="row" style="padding-top: 20px;">
        <div class="col-lg-6">
            <div class="resume-item text">
              <h4>Freelance Web developer</h4>
              <h5>May 2022</h5>
              <p><em>Nick van Oers</em></p>
              <p></p>
            </div>
            <div class="resume-item text">
              <h4>Junior Software Developer</h4>
              <h5>March 2022</h5>
              <p><em>Thimeo Audio Technology</em></p>
              <p>Improving existing software and extending functionality of it.</p>
            </div>
            <div class="resume-item text">
                <h4>Logistics & IT manager</h4>
                <h5>October 2020 - September 2021</h5>
                <p><em>BBB Career Event Foundation</em></p>
                <p>Head of organisation of the BBB Career Event and maintaining the foundation's IT infrastructure.</p>
            </div>
            <div class="resume-item text">
                <h4>Treasurer</h4>
                <h5>September 2019 - August 2020</h5>
                <p><em>Study Association Thalia</em></p>
                <p>Maintaining the bookkeeping as a board member of Study Association Thalia.</p>
            </div>
            <div class="resume-item text">
                <h4>Student Assistant</h4>
                <h5>September 2018</h5>
                <p><em>Radboud University</em></p>
                <p>Giving lectures and practicals and grading homework for several courses. Also contributing to innovating courses.</p>
            </div>
            <div class="resume-item text">
                <h4>Committee work</h4>
                <h5>October 2017</h5>
                <p><em>Study Association Thalia</em></p>
                <p>Taken part in various committees, mostly organising events and study trips. Taking part in and organising the university's orientation period, guiding new students. Taking a seat in advisory bodys of the association.</p>
            </div>
            <div class="resume-item text">
                <h4>Bachelor Computing Science</h4>
                <h5>September 2017</h5>
                <p><em>Radboud University</em></p>
                <p>Obtaining a Bachelor's degree in Computing Science with a specialization in Software and Data Science.</p>
            </div>
        </div>
    </div>
</section>