{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/4783c29945.js" crossorigin="anonymous"></script>
    <title>Nick van Oers</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}"/>
  </head>
  <body>
    {% include 'navbar.html' %}
    <section id="hero">
        <div class="row">
            <div class="col-lg-6 herocol hcolimg">
                <img src="{% static 'img/herobg.jpg' %}" class="hero" alt="">
                <div class="header-social-links">
                    <a href="#" class="github"><i class="fa-brands fa-github"></i></a>
                    <a href="#" class="facebook"><i class="fa-brands fa-facebook"></i></a>
                    <a href="#" class="instagram"><i class="fa-brands fa-instagram"></i></a>
                    <a href="#" class="linkedin"><i class="fa-brands fa-linkedin"></i></i></a>
                </div>
            </div>
            <div class="col-lg-6 herocol">
                <h1 style="font-family: Open sans;">Nick van Oers</h1>
                <h3 style="font-family: Open sans;">Student, Web developer</h3>
            </div>
            
        </div>
    </section>

    <section id="about" style="padding-top: vh;">
        <div class="row title">
            <h1>ABOUT ME</h1>
        </div>
        <div class="row">
            <div class="col-md-8 text">
                <p>
                    Hello, I'm Nick. I am currently a bachelor student at the Radboud University of Nijmegen. I'm studying Computing Science with a specialization in software and data science.
                    Besides that I work as a teaching assistant for various university courses, and as a freelance web developer. In my free time I enjoy hanging out with friends, dancing and listening to music.
                </p>
            </div>
            
        </div>
    </section>

    {% include 'career.html' %}
  </body>
</html>